<!----------------------- Main Container -------------------------->
<body>
<div class=" container d-flex justify-content-center align-items-center min-vh-100">
  <!----------------------- Login Container -------------------------->
  <div class="row border rounded-5 p-3 bg-white shadow box-area">
    <!--------------------------- Left Box ----------------------------->
    <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box"
      style="background: black;">
      <div class="featured-image mb-3">
        <img src="https://i.ibb.co/M5qhzyB/logo-1.jpg" class="img-fluid" style="width: 15rem;">
      </div>
      <p class="text-white fs-2" style="font-family: 'Courier New', Courier, monospace; font-weight: 100; text-align: center;">Discover - Connect Vibely
      </p>
    </div>
    <!-------------------- ------ Right Box ---------------------------->
    <app-login-form></app-login-form>
